<div class="h-10 px-4 flex justify-end fixed top-0 w-full">
  <button
    (click)="toggleTheme()"
    class="flex items-center gap-2 px-3 py-2 border-none
      transition-all duration-300 text-primary dark:text-white
      active:scale-95"
    aria-label="Cambiar tema"
    title="Cambiar entre modo claro y oscuro">
    <div class="relative">
      @if (!isDarkTheme()) {
        <ng-icon
          name="heroSunSolid"
          class="text-4xl absolute right-0"
          [@iconRotate]></ng-icon>
      }

      @if (isDarkTheme()) {
        <ng-icon
          name="heroMoonSolid"
          class="text-4xl absolute right-0 border-0 focus:outline-none"
          [@iconRotate]></ng-icon>
      }
    </div>
  </button>
</div>
